.table-title{
    position: absolute; 
    margin-top: 10px;
}

.avatar-view{
    width: 350px;
    height: 350px;
    border: 10px solid #ffffff;
}
div.avatar-comp{
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .table-title{
        position: relative; 
        margin-top: 0;
    }

    .avatar-comp{
        width: 100%;
    }

    div.avatar-comp img.avatar-view{
        width: 300px;
        height: auto;
    }
}

.scroll-thead{
    width: 100%;
    display: inline-table;
}

.scroll-tbody-y
{
    display: block;
    overflow-y: scroll;
}

.table-body{
    height: 150px;
}

