<div class="row">
    <div class="d-flex">
        <div class="card flex-fill">
            <div class="card-header">            
                <h5 class="card-title mb-0 table-title">Danh sách thành viên</h5>
                <div class="col-sm-3" style="margin:auto; margin-right: 10px;">
                    <input id="txtSearch" type="text" class="form-control" placeholder="Nhập tên thành viên..." aria-label="Nhập tên thành viên...">
                </div>
            </div>
            <div class = "table-responsive">
                <table class="table table-bordered table-hover my-0 ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên thành viên</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col" style="text-align: center;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id = "trData">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src = "/js/pages/accounts.page.js"></script>