<h2>Trang này để test</h2>
<%
    if (!user) {
        %> 
         <h1> Chưa đăng nhập </h1> <br>
         <a href="/AdminCP/login">Đăng nhập nào</a>
        <%
    } else {
        %> 
            <h1> Xin chào <%- user.username %></h1>
            <img src = "<%- user.avatarImg %>">
        <%
    }
%>