<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#33b5e5">
    
    <title><%= title %> | Admin Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
   <!---->
   <link href="/css/app.css" rel="stylesheet">
   <link href="/css/main.css" rel="stylesheet">
   <link href="/css/css2.css" rel="stylesheet">
   <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   <script src="/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
   <script src="/js/jquery.min.js"></script>
   <script src="/js/utils/general.js"></script>
   <script src="/js/utils/datasets.js"></script>
</head> 
<body>

