<%# 

        foodId, // string
        foodName, // string
        foodImage, // string
        latestUpdate = new Date().toLocaleString(), // string
        Energy = null, // float
        Carbohydrate = null, // float
        Lipid = null, // float
        Protein = null, // float
        Vitamins = null, // string
        Minerals = null, // string

%>
<div class="row">
        <div class="mb">
            <label for="txtFoodName" class="form-label">Tên thực phẩm</label>
            <input type="text" class="form-control" id="txtFoodName" placeholder="Vui lòng nhập tên thực phẩm..." required>
        </div>
</div>

<p></p>

<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="txtEnergy" class="form-label">Energy (Năng lượng) - Đơn vị: Calo</label>
            <input type="number" class="form-control" id="txtEnergy" placeholder="Vui lòng nhập lượng năng lượng của thực phẩm..." min="0" step="0.1" required>
        </div>
        <div class="mb-3">
            <label for="txtCarbohydrate" class="form-label">Carbohydrate - Đơn vị: gram</label>
            <input type="number" class="form-control" id="txtCarbohydrate" placeholder="Vui lòng nhập lượng Carbohydrate của thực phẩm..." min="0" step="0.1" required>
        </div>
        <div class="mb-3">
            <label for="txtLipid" class="form-label">Lipid - Đơn vị: gram</label>
            <input type="number" class="form-control" id="txtLipid" placeholder="Vui lòng nhập lượng Lipid của thực phẩm..." min="0" step="0.1" required>
        </div>
        <div class="mb-3">
            <label for="txtProtein" class="form-label">Protein - Đơn vị: gram</label>
            <input type="number" class="form-control" id="txtProtein" placeholder="Vui lòng nhập lượng Protein của thực phẩm..." min="0" step="0.1" required>
        </div>
        <div class="mb-3">
            <label for="txtProtein" class="form-label">Vitamins</label>
            <input type="text" class="form-control" id="txtProtein" placeholder="Vui lòng nhập các Vitamin có trong thực phẩm (vd: C, B2,...)" required>
        </div>
        <div class="mb-3">
            <label for="txtProtein" class="form-label">Minerals (Khoáng chất)</label>
            <input type="text" class="form-control" id="txtProtein" placeholder="Vui lòng nhập các khoáng chất có trong thực phẩm (vd: Sắt, kẽm, selen, mangan, đồng, i-ốt, cobalt và floura)" required>
        </div>
    </div>

    <div class="col">
        <div class="col avatar-comp">
            <center>
                <img id = "foodImage" src = "/img/default/no-image-food.png" class="rounded mx-auto d-block avatar-view" alt = "Hình ảnh thực phẩm">
                <p id="foodImageNotice"></p>
                <button id="changeFoodImg" class = "btn btn-success btn-sm">Thay đổi hình ảnh thực phẩm</button>
            </center>
        </div>
    </div>
</div>

<div class = "flex">
    <button class = "btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>  
        
        Thêm thông tin thực phẩm</button>
</div>

<script>

$("#changeFoodImg").on("click",function (e){
    var fileDialog = $('<input type="file" name="foodImage" accept=".png,.jpg,.jpeg">');
    fileDialog.click();
    fileDialog.on("change", onFileSelected);
    return false;
});

var onFileSelected = async function(e){

    var formData = new FormData();
    formData.append('foodImage',$(this)[0].files[0]);
    var notice = document.getElementById("foodImageNotice");
    notice.innerText = "Đang tải ảnh, vui lòng đợi xíu nhaaa!";
    notice.style.color = "black";
    await $.ajax({
            url: `/AdminCP/upload`,
            type: "POST", // <- Change here
            data: formData,
            contentType: false,
            processData: false,
            success: (response) => {
                notice.innerText = response.notice;
                notice.style.color = "red";
                if (response.success){
                    document.getElementById("foodImage").src = response.data.link;
                    notice.style.color = "green";
                }
            },
            error: function (err) {
                notice.innerText = "Xảy ra lỗi khi thực hiện upload ảnh!";
                notice.style.color = "red";
                console.log(err);
            }
    });
};


</script>

